* {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
  }
  .menu{
    display: flex;
    justify-content: space-between;
  }
  #menuUl{
    margin-top: 20px;
    margin-right: 20px;
  }
  #logo{
    margin-top: 10px;
    margin-left: 20px;
  }
ul{
  list-style-type: none;
  display: flex;
  justify-content: end;
}

a {
  text-decoration: none;
}
.active1{
    border-bottom: 2px solid black;
  }
li{
  font-size: 14px;
  margin: 0 8px;
}
a:hover {
  border-bottom: 2px solid black;
}
#firstParagraphe{
  margin: 20px;
}

.imageSize{
    width:380px;
    height:300PX;
    margin-left: 20px;
    object-fit:cover;
  }
  .row{
    display: flex;
    flex-direction: row;
  }

  .row p{
    margin-left: 20px;
    font-size: 14px;
    width:380px;
  }

h3 {
    color: #5ABA4A;
    margin-left: 20px;
  }
.footer{
    display: flex;
    flex-direction: row;
    background-color:#5ABA4A;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
   
  }
  .footer p{
    text-align: center;
    color: white;
  }
  button{
    background-color: #5ABA4A;
    border: none;
    color: white;
    border-radius: 10px;
    height: 30px;
    font-size: 11px;
    margin-left: 20px;
    margin-top: 10px;
  }
  #bdoyPosition{
    margin-left: 20px;
  }
  @media only screen and (max-width: 600px) {
    .row{
      display: block;
      flex-direction: row;
    }
    #firstParagraphe{
      width: 420px;
      margin-left: 40px;
    }
    button{
      margin-bottom: 10px;
    }
    #bdoyPosition{
      margin-left: 40px;
    }
    .footer{
      display: block;
      flex-direction: row;
      background-color:#5ABA4A;
      justify-content: space-between;
      margin-top: 20px;
      padding-top: 15px;
      height: auto;
      padding-right: 10px;
      padding-left: 10px;
     
    }
  }
